$startColor: #212121;
$green: #00DC53;

.about {
    width: calc(100vw - 142px);
    height: 100vh;
    display: block;
    position: relative;

    @media(max-width:768px) {
        width: 100vw;
    }

    &__inner {
        position: relative;
        z-index: 10;
        display: inline-block;
        margin-left: 130px;
        margin-top: 25vh;

        @media (max-width: 1300px) {
            margin-left: 50px;
        }

        @media(max-width:1000px) {
            margin-left: 0;
            margin-top: 0;
            width: 100%;
        }
    }

    &__text-inner {
        margin-right: 200px;
        position: relative;

        @media (max-width: 1300px) {
            margin-right: 140px;
        }

        @media (max-width: 1130px) {
            margin-right: 100px;
        }

        @media(max-width:1000px) {
            margin-right: 0;
            margin-bottom: 30px;
            margin-top: 30px;
        }

        @media(max-width:425px) {
            margin-bottom: 0;
        }

    }

    &__text {
        display: flex;

        @media(max-width:1000px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__title {
        color: #fff;
        font-size: 74px;
        font-weight: 400;
        line-height: 1;
        margin: 0;
        font-family: 'Bebas Neue', sans-serif;
        letter-spacing: 10px;

        @media(max-width:1080px) {
            font-size: 60px;
        }

        @media(max-width:1000px) {
            text-align: center;
        }

        @media(max-width:425px) {
            font-size: 50px;
            letter-spacing: 7px;

        }

    }

    &__paragraf {
        max-width: 450px;
        color: #fff;
        font-size: 22px;

        @media(max-width:1080px) {
            font-size: 18px;
            max-width: 300px;
        }

        @media(max-width:1000px) {
            max-width: 400px;
        }

        @media(max-width:425px) {
            font-size: 16px;
            margin-top: 0;
            padding: 0 13px;
        }
    }

    .background {
        width: inherit;
        height: inherit;
        position: absolute;

        &__line {
            width: 100vw;
            user-select: none;
            font-weight: 700;
            font-size: 60px;
            white-space: nowrap;
            transform: rotate(-5deg) translateY(-80px);
            animation-name: lineTransleit;
            animation-duration: 15s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            height: 60px;
            padding: 5px 0;

            span {
                transition-duration: 0.2s;
                color: $startColor;
                line-height: 0;
                margin-left: 15px;

                &.active {
                    color: $green;
                    text-shadow: 0 0 5px $green;
                }
            }
        }
    }

    .container {
        position: relative;
    }
}

@keyframes lineTransleit {
    0% {
        opacity: 0;
        transform: rotate(-5deg) translateY(-50px) translateX(0);
    }

    1% {
        opacity: 0;
    }

    7% {
        opacity: 1;
    }

    93% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(-5deg) translateY(-50px) translateX(-100vw);
    }
}